@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Supermercado+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #fd5555 100%, #e0ba68 200%);
  color: #222;
  display: flex;
  font-family: 'Muli', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

p {
  margin: 5px 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

input[type='checkbox'] {
  margin-right: 0;
}

.container {
  background-color: #e7d9ea;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35),
    0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: 'New Tegomin', serif;
  font-weight: bold;
  padding: 20px;
  width: 380px;
  max-width: 100%;
  border-radius: 15px;
}

.result-container {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.result-container #result {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  color: #333;
}

.result-container .btn {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
}

.btn {
  border: none;
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #f37521;
  border-radius: 5px;
}

.btn-large {
  user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 8px;
  color: #fff;
  border: none;
  background-image: linear-gradient(135deg, #ea7166 0%, #a2a04b 100%);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms ease;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted #ee9595;
  border-radius: 5px;
  background: rgba(255, 42, 42, 0.08);
  color: rgb(100, 100, 100);
  margin: 15px 0;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .result-container {
    font-size: 14px;
  }
}

input[type='checkbox'] {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: crimson;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 3.5px #bebcbe;
  transition: 0.3s;
}

input:checked[type='checkbox'] {
  background-color: #00c853;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 0 2px #bebcbe;
  transition: 0.3s;
}

input:checked[type='checkbox']::before {
  margin-left: 20px;
}

input[type='number'] {
  width: 50px;
  border-radius: 5px;
  border: none;
  text-align: center;
  height: 20px;
  font-size: 16px;
  font-weight: bolder;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
